* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
body {
  background-image: url(/Images/hamn.jpeg);
  background-size: cover;
  font-family: "Public Sans", Serif;
}
header {
  width: 100%;
  height: 3rem;
  background: linear-gradient(
    90deg,
    rgba(151, 99, 193, 0.755) 0%,
    rgba(139, 126, 157, 0.496) 45%,
    rgba(83, 76, 221, 0.664) 150%
  );
  opacity: 0.9;
  font-family: "Public Sans", serif;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  height: 6rem;
  border-bottom: 0.1rem solid white;
  border-width: 3px 0px;
  box-shadow: 8px 7px 19px rgba(167, 138, 255, 0.496);
}
.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45%;
}
.headerpic {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 25%;
}
.header-menu ul {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  list-style-type: none;
  transition: transform 0.5s;
}
header li {
  list-style-type: none;
  font-size: 1.3rem;
}
a {
  text-decoration: none;
  color: rgb(223, 222, 222);
}
a:hover {
  font-size: 1.4rem;
  color: white;
  text-shadow: 1px 1px 5px rgb(255, 255, 255);
}
a:active {
  text-shadow: none;
  color: rgba(255, 255, 255, 0.764);
}
.active-page {
  font-size: 1.8rem;
  color: rgb(169, 218, 255);
  text-shadow: 1px 1px 9px rgba(67, 71, 134, 0.764);
}
.selfie {
  height: 7rem;
  width: 7rem;
  border-radius: 50px;
  border: 0.2rem solid rgb(223, 222, 222);
}
.selfie2 {
  height: 17rem;
  width: 23rem;
  border-radius: 80px;
  box-shadow: 1px 1px 5px rgb(255, 255, 255);
}
.selfie3 {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgb(255, 255, 255);
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.main-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 4rem;
  margin-top: 3.5rem;
  padding-left: 3rem;
  padding-bottom: 5rem;
  width: 55vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  box-shadow: 8px 5px 8px rgba(155, 171, 176, 0.371);
  border: 2px solid rgb(195, 217, 255);
  transition: transform 1.5s;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.contact-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 2rem;
  margin-top: 3.5rem;
  padding-left: 3rem;
  padding-bottom: 2rem;
  width: 55vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  box-shadow: 8px 5px 8px rgba(155, 171, 176, 0.371);
  border: 2px solid rgb(195, 217, 255);
  transition: transform 1.5s;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.main-box:before {
  content: "";
  background-image: url("/Images/jag.jpeg");
  background-size: cover;
  position: absolute;
  border-radius: 30px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: -1;
}
.contact-box:before {
  content: "";
  background-image: url("/Images/jag.jpeg");
  background-size: cover;
  position: absolute;
  border-radius: 30px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: -1;
}
.contact-box:hover {
  transform: scale(1.1);
}
.main-box:hover {
  transform: scale(1.1);
}
.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 55vw;
  background-color: rgba(36, 13, 61, 0.596);
  border-radius: 30px;
  box-shadow: 8px 5px 8px rgba(155, 171, 176, 0.371);
  border: 2px solid rgb(195, 217, 255);
  transition: transform 1.5s;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.about-section:hover {
  transform: scale(1.1);
}
.side-column {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 2rem;
  width: 24vw;
  background-color: rgba(36, 13, 61, 0.529);
  border-radius: 30px;
  box-shadow: 8px 5px 8px rgba(155, 171, 176, 0.371);
  border: 2px solid rgb(195, 217, 255);
  transition: transform 1.5s;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.side-column:hover {
  transform: scale(1.1);
}
.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2.6rem;
  width: 60vw;
}
.projects {
  margin-top: 2rem;
}
.project-box {
  display: flex;
  flex-direction: row;
  align-items: start;
  padding: 2rem 1rem 2rem 2rem;
  margin-top: 2rem;
  width: 55vw;
  background-color: rgba(36, 13, 61, 0.482);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.371);
  border: 2px solid rgb(238, 195, 255);
  transition: transform 1.5s;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 1;
}
.project-box-middle {
  display: flex;
  flex-direction: column;
  width: 55%;
}
.project-box-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 6rem;
}
.info-button {
  padding: 1rem;
  border: 0.1rem solid white;
  border-radius: 20px;
  margin-right: 2rem;
  background: linear-gradient(
    90deg,
    rgba(57, 22, 99, 0.389) 0%,
    rgba(120, 39, 178, 0.07) 45%,
    rgba(30, 12, 42, 0.452) 150%
  );
  font-size: 1.5rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.371);
}
.project-box-left {
  width: 20%;
  display: flex;
}
.projectpic {
  width: 8rem;
  height: 5rem;
  margin-top: 0.5rem;
  border-radius: 10px;
  display: flex;
  justify-self: center;
  border: 1px solid white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.371);
}
.info-button:hover {
  padding: 1.1rem;
  background: linear-gradient(
    90deg,
    rgba(99, 22, 45, 0.389) 0%,
    rgba(178, 39, 78, 0.244) 45%,
    rgba(42, 17, 12, 0.452) 150%
  );
}
.info-button:active {
  padding: 1rem;
  border: 0.1rem solid white;
  border-radius: 20px;
  margin-right: 2rem;
  background: linear-gradient(
    90deg,
    rgba(57, 22, 99, 0.389) 0%,
    rgba(120, 39, 178, 0.07) 45%,
    rgba(30, 12, 42, 0.452) 150%
  );
  font-size: 1.5rem;
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.371);
}
.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 3rem;
  padding: 2rem;
  border-radius: 50px;
  border: 0.11rem solid white;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  width: 48%;
  box-shadow: 5px 5px 5px rgba(213, 213, 213, 0.371);
  z-index: 2;
}
#popup:target {
  opacity: 1;
  visibility: visible;
}
.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 20px;
}
#popup2:target {
  opacity: 1;
  visibility: visible;
}
.popup2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 2rem;
  border-radius: 12px;
}
#popup3:target {
  opacity: 1;
  visibility: visible;
}
.popup3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 2rem;
  border-radius: 12px;
}
#popup4:target {
  opacity: 1;
  visibility: visible;
}
.popup4 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 2rem;
  border-radius: 12px;
}
.repo-linq {
  color: rgb(136, 249, 136);
}
h1 {
  font-size: 3rem;
  color: rgba(173, 221, 255, 0.878);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.621);
}
h2 {
  font-size: 1.9rem;
  color: rgba(173, 221, 255, 0.878);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.621);
}
h3 {
  color: rgba(171, 188, 239, 0.849);
  font-size: 1.5rem;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.621);
}
h4 {
  color: rgba(233, 186, 255, 0.848);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.621);
}
p {
  color: rgb(223, 222, 222);
  font-size: 1.2rem;
}
li {
  color: white;
}
.headertext {
  width: 25%;
  display: flex;
  justify-content: center;
  text-shadow: 1px 2px 5px rgb(0, 0, 0);

  font-size: 1.5rem;
  font-family: "Playwrite CU Guides";
}
.headertext h3 {
  color: rgb(194, 192, 255);
}
.divider {
  color: white;
  background-color: rgb(223, 222, 222);
  height: 0.1rem;
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.contact-line {
  display: flex;
  align-items: center;
  padding: 1rem 0rem 1rem;
  justify-content: start;
  width: 110%;
}
.contact-line p,
a {
  margin-left: 1rem;
  font-size: 1.3rem;
}
.contact-line a {
  color: rgb(136, 249, 136);
}
footer {
  padding-top: 8rem;
}
@media (max-width: 768px) {
  .columns {
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }
  .side-column {
    padding-top: 0.5rem;
    width: 110%;
    margin-bottom: 1rem;
  }
  .selfie {
    display: none;
  }
  header {
    display: flex;
    flex-direction: column;
    height: 5rem;
    width: 100vw;
  }
  .headertext {
    width: 90%;
  }
  .header-menu {
    display: flex;
    align-items: row;
    justify-content: center;
    margin-right: 1rem;
    margin-top: 0.5rem;
  }
  .active-page {
    font-size: 1.1rem;
    color: rgba(254, 182, 48, 0.897);
  }
  .contact-box {
    width: 80%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  a {
    font-size: 0.7rem;
  }
  .header-menu li {
    margin: 0.5rem;
    font-size: 0.7rem;
  }
  .main-box {
    width: 80%;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.4rem;
    padding: 1rem 0rem;
  }
  .project-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    width: 80vw;
    background-size: cover;
    border-radius: 30px;
    box-shadow: 5px 5px 8px rgba(155, 171, 176, 0.371);
    border: 2px solid rgb(195, 217, 255);
    transition: transform 1.5s;
  }
  .project-box-middle {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .project-box-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 6rem;
  }
  .info-button {
    display: flex;
    justify-content: center;
    margin-left: 2rem;
    margin-top: 1rem;
    padding: 0.7rem;
    border: 0.1rem solid white;
    border-radius: 20px;
    width: 40vw;
    background: linear-gradient(
      90deg,
      rgb(22, 99, 59, 0.5) 0%,
      rgba(39, 178, 113, 0.5) 45%,
      rgb(12, 42, 12, 0.5) 150%
    );
    font-size: 1.5rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.371);
  }
  .project-box-left {
    display: flex;
    justify-content: center;
  }
  .projectpic {
    width: 10rem;
    height: 5rem;
    margin-top: 0.5rem;
    border: 1px solid white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.371);
  }
  .overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    justify-self: center;
    align-items: center;
    padding: 2rem;
    border-radius: 50px;
    border: 0.11rem solid white;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    width: 60%;
    margin-right: 4rem;
    margin-top: 20rem;
    box-shadow: 5px 5px 5px rgba(213, 213, 213, 0.371);
  }
  .close {
    margin-top: 1rem;
  }
  .about-section {
    width: 65%;
  }
}
